/* GENERALS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;


}
body{
  min-width: 473px;
}

p{
  font-weight: 600;
}
li{
  list-style: none;
}
.col-12{
  margin: 12px 0;
}

.star-line{
  padding: 2px;
  background-color: white;
  width: 20%;
  border-radius: 5px;
}

.star-line.black{
  background-color: black;
}

.star-svg{
  margin: 0 10px;
  color: white;
}

.star-svg.black{
  color: black;
}
/*END GENERALS */

/*utilitys */
.red{
  background-color: red;
}
.blue{
  background-color: aqua;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: yellowgreen;
}

.height100{
  height: 100%;
}

.border-d{
  border: 2px solid black;
}
/* end utilitys */



/* HEADER  */
header a{
  text-transform: uppercase;
}


nav{
  height: 100px;
  width: 100%;
  min-width: 473px;
  position: fixed;
  top:0;
  z-index: 1000;
  background-color: #2c3e50;
}

header h1,
header h5{
  line-height: 100px;
}

header h5{
  padding: 0 10px;
}



.jumbotron{
  margin-top: 100px;
  background-color: #1abc9c;
  color: white;
  text-transform: uppercase;
  padding: 110px 0;
}

.jumbotron img{
  width: 400px;
}
.burger-menu{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}
.hidden-ul{
  position: absolute;
  background-color: #2c3e50;
  top: 90%;
  text-align: center;
  display: none;
}
.hidden-ul li{
  width: 100px;
  text-transform: uppercase;
  display: flex;
  padding: 10px;
}
#hidden-uls:target{
  display: block;
}

/*END HEADER  */


/* MAIN  */


/* portfolio  */
section{
  padding: 110px 0;
}
.portfolio .portfolio-images .row .col-12{
  margin: 12px 0;
}
.overlay{
  background-color: #1abc9c;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.portfolio .portfolio-images .row .col-12 img{
  width: 100%;
  
}
.img-hover-plus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: none;
  font-size: 130px;
}
.overlay:hover img{
  opacity: 0.5;
}

.overlay:hover .img-hover-plus{
  display: inline-block;
}

/* about  */
.about{
  background-color: #1abc9c;
  color: white;
}


.text{
  padding: 20px ;
  width: 60%;
}


.download-button {
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  padding: 8px;
}

.download-button:hover{
  background-color: white;
}

.download-button:hover a{
  color: black;
}

.download-button a{
  color: white;
}



/* contact me  */
.form-width{
  width: 60%;
}

input, textarea{
  border:none;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  margin-bottom: 10px;
}
::placeholder{
  color: black;
  opacity: 1;

}

button[type=submit]{
  background-color: #1abc9c;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 70px;
  color: white;
}

button:hover{
  background-color: #148f77;
}

/* contacts  */
.contacts p span{
  color: #1abc9c;
}

.fa-brands{
  line-height: 50px;
  width: 52px;
  border: solid 1px white;
  font-size: 20px;
  background-color: #3a546d;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
/*END MAIN  */


/* FOOTER  */
.contacts{
  background-color: #3a546d;
  color: white;
}

.contacts h3{
  text-transform: uppercase;
}
  
.contacts h3,
.contacts p,
.txtcenter,
.copyrights p{
  text-align: center;
}




.copyrights{
  background-color: #2c3e50;
  color: white;
}
/*END FOOTER  */